<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="question_tbody">
    <%= render @questions %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, remote: true %>

<div class="new_question_form"></div>
