<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="notes_tbody">
    <%= render @notes %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path, remote: true %>

<div id="new_note_form"></div>
